@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.footer{
    @include row-center;
    min-height:15vh;
    color:black;
    background-color:$grey;
    border-radius: 15px;
    padding:5px;
}