// $primary-color:blue;
// $secondary-color:lightblue;
// $primary-disabled:gray;
// $secondary-disabled:lightgray;


$font:'Roboto', sans-serif;
$light-blue:#a0dfdc;
$blue:#69bcc8;
$grey:#737a7c;
$black:#061d25;
$purple:#2e2836;
$white:#e5e5e5